.container {
    @apply relative;
    margin-top: -68px;
}

.image {
    @apply absolute left-0 top-0 w-0 h-0 min-w-full min-h-full max-w-full max-h-full z-0;
}

.gradient {
    @apply absolute top-0 left-0 right-0 bottom-0;
    background: rgba(0,0,0,.5);
    background-image: -webkit-radial-gradient(center, #00000000, #000000B3);
    background-image: -moz-radial-gradient(center, #00000000, #000000B3);
    background-image: radial-gradient(ellipse at center, #00000000, #000000B3);
}