.wrapper {
  @apply flex items-center relative cursor-pointer;
}

.wrapper:hover .caret {
  transform: rotate(180deg);
}

.wrapper:hover .dropdown {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}

.profile {
  @apply rounded;
}

.dropdown {
  @apply absolute opacity-0 -right-24 top-9 text-white p-4 flex flex-col gap-3 z-10;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid #69696979;
  min-width: 10rem;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  transition: all 0.1s 0.2s ease-in;
}

.dropdownItem {
  @apply flex text-sm items-center gap-2 cursor-pointer hover:underline;
}

.caret {
  position: absolute;
  top: 44%;
  right: -1rem;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5.3px 5.3px 0 5.3px;
  border-color: #fff transparent transparent transparent;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);

  @media screen and (max-width: 37.5em) {
    border-width: 4.5px 4.5px 0 4.5px;
    right: -0.7rem;
  }
}
